<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="~/css/public.css" media="all">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }
    </style>
</head>
<body>
    <div class="layuimini-container">
        <div class="layuimini-main">

            <div class="layui-form layuimini-form">
                
                <div class="layui-form-item">
                    <label class="layui-form-label required">旧的密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="oldPassword" lay-verify="required" lay-reqtext="旧的密码不能为空" placeholder="请输入旧的密码" value="" class="layui-input">
                        <tip>填写自己账号的旧的密码。</tip>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label required">新的密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="newPassword" lay-verify="required" lay-reqtext="新的密码不能为空" placeholder="请输入新的密码" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">新的密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="againPassword" lay-verify="required" lay-reqtext="新的密码不能为空" placeholder="请输入新的密码" value="" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script src="~/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <script>

        function deleteAllCookies() {
            var cookies = document.cookie.split(";");

            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i];
                var eqPos = cookie.indexOf("=");
                var cookieName = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                document.cookie = cookieName + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            }
        }

        layui.use(['form', 'miniTab'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.jquery,
                miniTab = layui.miniTab;

            // 指定要解码的 cookie 名称
            var cookieName = "UserID";

            // 获取当前页面的所有 cookie
            var cookies = document.cookie.split(";");

            // 查找指定 cookie 并解码
            var decodedValue = "";
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.indexOf(cookieName + "=") === 0) {
                    var cookieValue = cookie.substring(cookieName.length + 1);
                    decodedValue = decodeURIComponent(cookieValue);
                    break;
                }
            }

            // 将解码后的值保存到变量
            var userId = decodedValue;
            console.log(userId);


            //监听提交
            form.on('submit(saveBtn)', function (data) {
                data.field.id = userId;
                $.ajax({
                    url: '/Admin/UserInfo/UpdateUserInfoPassword',
                    type: 'POST',
                    data: data.field,
                    success: function (res) {
                        if (res.code == 200) {
                            var index = layer.alert(res.msg, {
                                title: '最终的提交信息'
                            }, function () {

                                // 关闭弹出层
                                layer.close(index);

                                window.location = '/Account/LoginView'
                                // 调用函数以删除当前站点的所有 cookie
                                deleteAllCookies();

                            });

                        } else {
                            layer.alert(res.msg);
                        }

                    }
                })
                return false;
            });

        });
    </script>
</body>
</html>